<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Diary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="food">
      <ion-icon name="nutrition-outline"></ion-icon>
      <ion-label>Food</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
