<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list-header>
    <ion-label>Calorie-Calculator</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender" name="gender" placeholder="Select One" cancel-text="Nah!" ok-text="Yes">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Age</ion-label>
      <ion-input type="number" name="age" [(ngModel)]="age"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Height</ion-label>
      <ion-input type="number" name="height" [(ngModel)]="height"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Calories</ion-label>
      <ion-input type="number" name="calories" readonly value="{{calories}}"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list-header>
    <ion-label>BMI-Calculator</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label>Height</ion-label>
      <ion-input type="number" name="height" [(ngModel)]="height"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Bmi</ion-label>
      <ion-input type="number" name="bmi" readonly value="{{bmi | number : '1.2-2'}}"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list-header>
    <ion-label>Heart-Rate-Calculator</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label>Age</ion-label>
      <ion-input type="number" name="age" [(ngModel)]="age"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Upper Limit</ion-label>
      <ion-input type="number" name="upperlimit" readonly value="{{upperlimit | number : '1.0-0'}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Lower Limit</ion-label>
      <ion-input type="number" name="lowerlimit" readonly value="{{lowerlimit | number : '1.0-0'}}"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
