<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Diary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Food Item</ion-label>
      <ion-select [(ngModel)]="food1" name="food1" placeholder="Select One" cancel-text="Nah!" ok-text="Yes!"> 
        <ion-select-option value="800">Pizza</ion-select-option>
        <ion-select-option value="750">Burger</ion-select-option>
        <ion-select-option value="200">Chicken</ion-select-option>
        <ion-select-option value="300">Cereal</ion-select-option>
        <ion-select-option value="600">Sandwich</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Food Item</ion-label>
      <ion-select [(ngModel)]="food2" name="food2" placeholder="Select One" cancel-text="Nah!" ok-text="Yes!"> 
        <ion-select-option value="800">Pizza</ion-select-option>
        <ion-select-option value="750">Burger</ion-select-option>
        <ion-select-option value="200">Chicken</ion-select-option>
        <ion-select-option value="300">Cereal</ion-select-option>
        <ion-select-option value="600">Sandwich</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Food Item</ion-label>
      <ion-select [(ngModel)]="food3" name="food3" placeholder="Select One" cancel-text="Nah!" ok-text="Yes!"> 
        <ion-select-option value="800">Pizza</ion-select-option>
        <ion-select-option value="750">Burger</ion-select-option>
        <ion-select-option value="200">Chicken</ion-select-option>
        <ion-select-option value="300">Cereal</ion-select-option>
        <ion-select-option value="600">Sandwich</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Callories</ion-label>
      <ion-input type="number" name="callories" readonly value="{{callories}}"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Diary</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Diary page"></app-explore-container>
</ion-content>
