<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Search..." [(ngModel)]="searchQuery" (ionChange)="search()"></ion-searchbar>
  <ion-card *ngFor="let article of items?.articles" (click)="openNews(article)">
    <ion-img [src]="article?.urlToImage"></ion-img>
    <ion-card-content>
      <ion-card-title>{{article?.title}}</ion-card-title>
      <p>{{article?.description}}</p>
    </ion-card-content>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>
  
</ion-content>
